.App {
  text-align: center;
}
body{
  background-color: aliceblue;
}

.circular{
  width: 50vh;
  margin: auto;
  margin-top: 10vh;  
}

button{
  background-color: transparent;
  color: #2192FF;
  width: 15vh;
  margin: auto;
  margin-top: 1vh;
  border: none;
  display: inline-block;
}